<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Create Candidate</title>
  <script>
    $(document).ready(function () {
      $("#saveButton").on("click", saveCadidate)

    });

    function saveCadidate() {


      const candidateData = {
        //id: $("#candidateId").val(),
        firstName: $("#firstName").val(),
        lastName: $("#lastName").val(),
        email: $("#email").val(),
        phoneNumber: $("#phoneNumber").val(),
        dateOfBirth: $("#dateOfBirth").val(),
        skills: $("#skills").val(),
        experienceYears: $("#experienceYears").val(),
        resumeUrl: $("#resumeUrl").val(),
      };

      if (!candidateData.firstName) {
        showErrorToast("First Name is required.");
        $("#firstName").focus();
        return false;
      }

      if (!candidateData.lastName) {
        showErrorToast("Last name is required.");
        $("#lastName").focus();
        return false;
      }

      if (!candidateData.email) {
        showErrorToast("Email is required.");
        $("#email").focus();
        return false;
      }

      if (!candidateData.dateOfBirth) {
        showErrorToast("Date of Birth is required.");
        $("#dateOfBirth").focus();
        return false;
      }

      if (!candidateData.skills) {
        showErrorToast("Skils is required.");
        $("#skils").focus();
        return false;
      }

      if (!candidateData.experienceYears) {
        showErrorToast("Experience is required.");
        $("#experienceYears").focus();
        return false;
      }
      
      console.log("Data {}", candidateData);

      $.ajax({
        url: "/candidates",
        method: "POST",
        contentType: "application/json",
        data: JSON.stringify(candidateData),
      })
        .done(function () {
          showSuccessToast("Data saved successfully!");
          //window.location.href = "/dashboard";
        })
        .fail(function (xhr) {
          showErrorToast(xhr.responseText);
        })
        .always(function () {
          $("#saveButton").prop("disabled", false).text("Save Changes");
        });
    }
  </script>
</head>

<body>
  <div
    class="d-flex px-3 justify-content-between flex-wrap bg-white flex-md-nowrap align-items-center pt-2 pb-2 mb-3 border-bottom"
    th:fragment="dashboard">
    <h1 class="h6 fs-6 pt-2 fw-normal">Candidate > Create</h1>
  </div>
  <div class="container mt-5 col-xl-8">
    <div class="card shadow">
      <div class="card-header">
        <h6 class="mb-0 py-2">Create Candidate</h6>
      </div>
      <div class="card-body">
        <form id="candidateForm">
          <input type="hidden" id="candidateId" name="id" />
          <div class="row">
            <div class="mb-3 col-md-6">
              <label for="firstName" class="small mb-1 coe-label">First Name</label>
              <input type="text" class="form-control coe-input" id="firstName" placeholder="First Name" required>
            </div>
            <div class="mb-3 col-md-6">
              <label for="lastName" class="small mb-1 coe-label">Last Name</label>
              <input type="text" class="form-control coe-input" id="lastName" name="lastName" placeholder="Last Name"
                required>
            </div>
          </div>
          <div class="row">
            <div class="mb-3 col-md-6">
              <label for="email" class="form-label-extra-small mb-0 coe-label">Email</label>
              <input type="email" class="form-control coe-input" id="email" name="email" placeholder="Email" required>
            </div>
            <div class="mb-3 col-md-6">
              <label for="phoneNumber" class="form-label-extra-small mb-0 coe-label">Phone Number</label>
              <input type="text" class="form-control coe-input" id="phoneNumber" name="phoneNumber"
                placeholder="Phone Number">
            </div>
          </div>
          <div class="row">
            <div class="mb-3 col-md-6">
              <label for="dateOfBirth" class="form-label-extra-small mb-0 coe-label">Date of Birth</label>
              <input type="date" class="form-control coe-input" id="dateOfBirth" name="dateOfBirth">
            </div>
            <div class="mb-3 col-md-6">
              <label for="skills" class="form-label-extra-small mb-0 coe-label">Skills</label>
              <input type="text" class="form-control coe-input" id="skills" name="skills" placeholder="Skills">
            </div>
          </div>
          <div class="row">
            <div class="mb-3 col-md-6">
              <label for="experienceYears" class="form-label-extra-small mb-0 coe-label">Experience (Years)</label>
              <input type="number" class="form-control coe-input" id="experienceYears" name="experienceYears"
                placeholder="Experience in Years">
            </div>
            <div class="mb-3 col-md-6">
              <label for="resumeUrl" class="form-label-extra-small mb-0 coe-label">Resume URL</label>
              <input type="url" class="form-control coe-input" id="resumeUrl" name="resumeUrl" placeholder="Resume URL">
            </div>
          </div>
          <div class="text-left">
            <button type="button" class="btn btn-primary" id="saveButton">
              Save Changes
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>

</html>