<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>CoE</title>
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <script>
        $(document).ready(function () {
            feather.replace();

            $('.side-nav-menu-heading').on('click', function () {
                const $this = $(this);

                // Close all other menu headings
                $('.side-nav-menu-heading').not($this).each(function () {
                    $(this)
                        .addClass('collapsed')
                        .attr('data-bs-toggle', 'collapse')
                        .attr('aria-expanded', 'false');
                    const targetId = $(this).data('bs-target');
                    if (targetId) {
                        $(targetId).removeClass('show');
                    }
                });

                $('.side-nav-menu-heading').removeClass('active');
                $(this).addClass('active');
            });

            $("#sidebarToggle").on('click', function () {
                $(".sidebar-collapse").toggleClass('collapsed');
                $(".main").toggleClass('collapsed');
            });
        });

    </script>
</head>

<body style="background-color: #F2F6FC;">
    <div th:replace="dashboardLayout/header :: header"></div>
    <div th:replace="dashboardLayout/sidebar :: sidebar"></div>
    <div th:replace="dashboardLayout/maincontent :: maincontent"></div>
</body>

</html>