<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <title>CoE</title>
  <!-- Bootstrap core CSS -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/dashboard.css" rel="stylesheet">
  <link href="/css/sidebars.css" rel="stylesheet">
  <script src="/js/bootstrap.bundle.min.js"></script>
  <script src="/js/jquery-3.6.0.min.js"></script>
  <script src="/js/sidebars.js"></script>
  <script src="/js/feather.min.js"></script>
  <script src="/js/question.js"></script>
  <script src="/js/toastHelper.js"></script>

  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>
  <script>
    $(document).ready(function () {
      feather.replace();

      $('.side-nav-menu-heading').on('click', function () {
        const $this = $(this);

        // Close all other menu headings
        $('.side-nav-menu-heading').not($this).each(function () {
          $(this)
            .addClass('collapsed')
            .attr('data-bs-toggle', 'collapse')
            .attr('aria-expanded', 'false');
          const targetId = $(this).data('bs-target');
          if (targetId) {
            $(targetId).removeClass('show');
          }
        });

        $('.side-nav-menu-heading').removeClass('active');
        $(this).addClass('active');
      });
    });

  </script>
</head>

<body style="background-color: #F2F6FC;">

  <div th:replace="dashboardLayout/header :: header"></div>
  <div th:replace="dashboardLayout/sidebar :: sidebar"></div>
</body>

</html>